@CHARSET "UTF-8";

.t-welcome {
	background-color: #F1F1F1;
	height: 30px;
	border-bottom: 1px solid #E1E1E1;
}

.t-welcome-content {
	width: 978px;
	position: relative;
	margin: -10px auto 10px;
}

.t-tip {
	padding-top: 0.5rem;
	float: left;
}

.t-call {
	padding-top: 0.5rem;
	float: right;
}

.am-tabs-bd .am-tab-panel {
	-webkit-transition: -webkit-transform 0.0001s;
	transition: transform 0.0001s;
}

.t-foot {
	font-size: 1.3rem;
	margin: 1rem 1.5rem 1rem 1.5rem;
}

.t-foot a {
	margin: 0.5rem 1rem 0.5rem 1rem;
	display: inline-block;
}

.contact {
	top: 480px;
	right: 7px;
	position: fixed;
	border: 1px solid #E1E1E1;
	padding: 3px 3px 3px 3px;
}

#i-title {
	font-size: 15px;
}

.car-title {
	height: 50px;
	line-height: 50px;
	background: url("../images/b01.png");
	background-repeat: x;
	margin: 0px 0px 0px 0px;
}

.car-title .tips {
	padding-left: 10px;
}

.car-list {
	height: 100px;
	padding-top: 0px;
}

.car-list strong {
	font-size: 14px;
	color: #0b7cb7;
}

.car-list font {
	color: #8B6969;
}

.car-list li {
	padding: 3px 0px 3px 0px;
}

.more {
	height: 42px;
	line-height: 42px;
	padding: 0px 3px 3px 3px;
	width: 978px;
	position: relative;
	margin: 0 auto 10px;
	background-color: #fdd310;
}

.t {
	padding-left: 10px;
	padding-right: 30px;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}

.t1 {
	margin-right: 6px;
}

.u1 {
	border: 1px solid #E1E1E1;
	margin: 0 auto 2px;
	height: 251px;
	position: relative;
}

.u1 li {
	padding-left: 6px;
	font-size:14px;
}

.s-image {
	width: 218px;
	height: 200px;
	background-size:100% 100%;
}
